@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ############## html element styling ############ */

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

ul li {
  list-style: none;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

p,
li {
  font-size: 1.6rem;
  padding-bottom: 0.5em;
  letter-spacing: 0.15em;
}

h1,
h2,
h3 {
  padding-bottom: 0.5em;
  letter-spacing: 0.15em;
  font-weight: 500;
}

/* ############ utility Classes ############ */
.container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

.lg-heading {
  font-size: 3.5rem;
}

.md-heading {
  font-size: 2.2rem;
}

.text-red {
  color: #e63946;
}

.text-light {
  color: #f4f4f4;
}

.text-black {
  color: #333333;
}

.text-gray {
  color: #555555;
}

.bg-dark {
  background-color: #263238;
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  margin: 0.5em 0;
}

.btn-primary {
  background-color: #ffffff;
  border-radius: 100px;
  color: #e63946;
}

.btn-primary:hover {
  background-color: #ddd;
}

.btn-secondary {
  border-radius: 1.5em;
  color: #e63946;
  border: 1px solid #e63946;
  background-color: #fff;
}

.btn-secondary:hover {
  background-color: #fcf3f2;
}

/* ############ header styling ############# */

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/header-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar {
  padding: 1rem;
}

.navbar .logo {
  float: left;
}
.navbar .nav-items {
  float: right;
  margin-top: 1rem;
}

.navbar .nav-items .nav-item {
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
}

.navbar a {
  padding-bottom: 0.3rem;
}

.navbar a:link,
.navbar:visited {
  color: #f4f4f4;
}

.navbar a:hover {
  border-bottom: 1px solid #ffffff;
}

.navbar::after {
  content: "";
  display: block;
  clear: both;
}

/* ########### header content styling ############# */

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  text-align: center;
}

.header-content h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.header-content p {
  text-transform: uppercase;
}

/* ##########  showcase styling ########### */
.showcase {
  background: #ddd;
  padding: 10rem 0;
}

.row {
  height: 350px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px #aaa;
}

.row1 {
  margin-bottom: 10rem;
}

.row1 .img-box,
.row2 .text-box {
  float: left;
  width: 50%;
}

.row1 .text-box,
.row2 .img-box {
  float: right;
  width: 50%;
}

.row .img-box {
  height: 100%;
}

.row .text-box {
  padding: 3rem;
}

.showcase .row .img-box img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showcase .row::after {
  content: "";
  display: block;
  clear: both;
}

/* ################ FEATURES SECTION STYLING ############## */
.features {
  padding: 10rem 0;
}
.box-wrapper {
  box-shadow: 0px 0px 20px 0px #aaa;
}
.box-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.box {
  width: 33.3333%;
  float: left;
  padding: 2rem;
  text-align: center;
  color: #fff;
}

.box-1,
.box-3 {
  background-color: #263238;
}

.box-2 {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}

/* ######## footer styling ################# */
.footer {
  background-color: #263238;
  color: #f4f4f4;
  text-align: center;
  padding: 2rem;
}
.social-media-links i {
  margin: 2rem;
}

/* ########### About Us Page Styling ############# */
.about {
  padding: 5rem 0;
}

.about-heading::after {
  content: "";
  display: block;
  border: 3px solid #e63946;
  width: 100%;
}
/* ############# about wrapper styling ########### */
.about-wrapper {
  text-align: center;
  margin-top: 1rem;
}

.about-wrapper::after {
  content: "";
  display: block;
  clear: both;
}

.about-wrapper .left {
  float: left;
  width: 50%;
}

.about-wrapper .right {
  float: right;
  width: 50%;
}

.about-wrapper li::before {
  content: "\2713";
  color: #e63946;
  font-weight: bold;
  padding-right: 1rem;
}

/* ############ count-item styling ############## */
.counts {
  margin-top: 3rem;
}

.counts::after {
  content: "";
  display: block;
  clear: both;
}

.count-item {
  float: left;
  width: 25%;
  text-align: center;
}

.count-item span {
  font-weight: 700;
  font-size: 3rem;
  color: #e63946;
}

.count-item p {
  font-size: 1.8rem;
  font-weight: 700;
  color: #555;
}

/* ################## banner styling ############# */
.cta-banner {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  color: #f4f4f4;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
  margin-top: 3rem;
}
.cta-banner::after {
  content: "";
  display: block;
  clear: both;
}

.cta-banner-left {
  float: left;
  width: 60%;
}

.cta-line {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1.5rem;
}

.cta-banner-right {
  float: right;
  width: 40%;
  text-align: right;
}

.cta-btn {
  text-align: center;
  display: inline-block;
  color: #f4f4f4;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid white;
  padding: 0.5em 0.8em;
  letter-spacing: 0.5rem;
}

/* ############# Contact us Styling ############  */
.contact-form {
  padding: 5rem 0;
  font-size: 2rem;
  background-color: #f7f7f7;
}

.contact-form .form-wrapper {
  border: 10px solid red;
}
.contact-form .form-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.contact-form .company-address {
  width: 49%;
  border: 2px solid green;
  float: left;
  background-color: #fff;
  padding: 1rem;
}

.form-wrapper .address-group {
  margin-bottom: 3rem;
}

.form-wrapper .company-address img {
  max-width: 90%;
  min-height: 30rem;
  object-fit: cover;
  object-position: right;
}

.contact-form .company-address i {
  display: inline-block;
  margin-right: 1rem;
}

.contact-form .company-address h2 {
  display: inline-block;
  text-transform: uppercase;
}

.contact-form .form {
  width: 49%;
  border: 2px solid green;
  float: right;
  background-color: #fff;
}
