@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ############## html element styling ############ */

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

ul li {
  list-style: none;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

p,
li {
  font-size: 1.6rem;
  padding-bottom: 0.5em;
  letter-spacing: 0.15em;
}

h1,
h2,
h3 {
  padding-bottom: 0.5em;
  letter-spacing: 0.15em;
  font-weight: 500;
}

/* ############ utility Classes ############ */
.container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

.lg-heading {
  font-size: 3.5rem;
}

.md-heding {
  font-size: 2.2rem;
}

.text-red {
  color: #e63946;
}

.text-light {
  color: #f4f4f4;
}

.text-black {
  color: #333333;
}

.text-gray {
  color: #555555;
}

/* ############ header styling ############# */

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/header-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .navbar a {
  color: white;
  text-decoration: none;
}

.navbar {
  padding: 1rem;
}

.header .navbar .logo {
  float: left;
}
.header .navbar .nav-items {
  float: right;
  margin-top: 1rem;
}

.header .navbar .nav-items .nav-item {
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
}

.navbar a {
  padding-bottom: 0.3rem;
}

.navbar a:link,
.navbar:visited {
  color: #f4f4f4;
}

.navbar a:hover {
  border-bottom: 1px solid #ffffff;
}

.header .navbar::after {
  content: "";
  display: block;
  clear: both;
}
